/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  background: #eef0f2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Nav Bar */
.header {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  width: 50px;
}

.hamburger-icon {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #222;
  margin: 5px auto;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
}

.nav-list {
  margin-right: 5rem;
}

.nav-link {
  color: #353638;
  font-size: 1.8rem;
  font-weight: 500;
}
.nav-link:hover {
  color: gold;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 8rem;
    left: 100%;
    width: calc(100% - 2rem);
    text-align: center;
    padding: 3rem 0;
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 1rem;
    right: 1rem;
  }

  .nav-list {
    margin: 5px 0;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }

  /* Hambuger Icon animation */

  /* make the 2nd bar invisible */
  .hamburger-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  /* rotate 1st bar */
  .hamburger-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  /* rotate 3rd bar */
  .hamburger-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
